<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="./tests/TestBootstrap.php"
         cacheResultFile="./build/test-results.json"
         executionOrder="depends,random">

    <php>
        <ini name="memory_limit" value="512M" />
        <ini name="error_reporting" value="-1"/>
        <server name="KERNEL_CLASS" value="Shopware\Core\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="APP_SECRET" value="s$cretf0rt3st"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled=1"/>
        <env name="SHOPWARE_HTTP_CACHE_ENABLED" value="0" />
    </php>

    <testsuites>
        <testsuite name="EyecookBlurhash Testsuite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="./build/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/EyecookBlurhash.php</file>
        </exclude>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener">
            <arguments>
                <array>
                    <!-- set this option to 0 to disable the DebugClassLoader integration -->
                    <element key="debug-class-loader">
                        <integer>0</integer>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
</phpunit>
