@import "~scss/variables";

.sw-media-preview-v2 {
  .sw-media-preview-v2__ecb-toggle {
    position: absolute !important;
    top: auto !important;
    right: 8px !important;
    bottom: 8px !important;
    left: auto !important;
    cursor: pointer;
    color: #7b70b5;

    &:hover, &:active, &:focus {
      color: #b57070;
    }

    .sw-icon.sw-icon--fill > svg path, .sw-icon.sw-icon--fill > svg use,
    .sw-icon.sw-icon--fill > svg {
      fill: none
    }
  }
}
