{% block sw_media_quickinfo_preview %}
    {% parent %}

    {% block sw_media_quickinfo_blurred_preview %}
        <sw-media-collapse
            v-if="hasBlurhash"
            :expandOnLoading="false"
            :title="$tc('ecBlurhash.extension.sw-media-quickinfo.blurredPreview.title')"
        >
            {% block sw_media_quickinfo_blurred_preview_content %}
                <template #content>
                    <div class="sw-media-preview-v2 sw-media-quickinfo__media-preview">
                        {% block sw_media_quickinfo_blurred_preview_item %}
                            <img :src="blurhashImg" :alt="$tc('ecBlurhash.extension.sw-media-quickinfo.blurredPreview.alt')" class="sw-media-preview-v2__item">
                        {% endblock %}
                    </div>
                </template>
            {% endblock %}
        </sw-media-collapse>
    {% endblock %}
{% endblock %}

{% block sw_media_quickinfo_metadata_content_base %}
    {% parent %}

    <sw-media-quickinfo-metadata-item
        v-if="item.metaData.blurhash"
        class="sw-media-quickinfo-metadata-blurhash"
        label-name="Blurhash"
    >
        <span :title="item.metaData.blurhash">
            <sw-icon color="green" name="small-default-checkmark-line-small"></sw-icon>
        </span>
    </sw-media-quickinfo-metadata-item>
{% endblock %}
