{% block ecb_media_quick_action %}
    <li
        class="sw-media-sidebar__quickaction quickaction--blurhash"
        :class="actionClasses"
        :title="title ? $t(title) : null"
        @click="onActionClick"
    >
        <sw-icon small :name="icon" class="sw-media-sidebar__quickactions-icon"></sw-icon>
        {{ $t(text) }}
    </li>
{% endblock %}
