{% if media.metaData.blurhash %}
    {% set attributes = attributes|merge({
        'data-blurhash': media.metaData.blurhash,
        'data-ow': media.metaData.hashOriginWidth,
        'data-oh': media.metaData.hashOriginHeight,
        'loading': 'lazy',
    }) %}

    {% set load = false %} {# All images are handled lazy #}
{% endif %}

{% block thumbnail_content %}
    <div class="ecb-img-wrapper">
        {% include '@Storefront/storefront/utilities/thumbnail.html.twig' %}
    </div>
{% endblock %}
