{% if media.metaData.blurhash %}
    {% set attributes = attributes|merge({
        'data-blurhash': media.metaData.blurhash,
        'data-ow': media.metaData.hashOriginWidth,
        'data-oh': media.metaData.hashOriginHeight,
        'loading': 'lazy',
        'src': 'data:image/svg+xml,<svg xmlns=\'http://www.w3.org/2000/svg\' height=\'' ~ media.metaData.hashOriginHeight ~ '\' width=\'' ~ media.metaData.hashOriginWidth ~ '\'></svg>'
    }) %}

    {% set load = false %} {# All images are handled lazy #}
{% endif %}

{% block thumbnail_content %}
    <div class="ecb-img-wrapper">
        {% include '@Storefront/storefront/utilities/thumbnail.html.twig' %}
    </div>
{% endblock %}
